<h1>All Questions</h1>

<% @questions.each do |question| %>

   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to question.title, question %>
           <%= check_box_tag :resolved, :resolved, question.resolved, disabled: true %>
         <%= link_to "Delete",question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-success' %>
       </h4>
     </div>
   </div>
<% end %>