<h1>Post Summary</h1>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to @post.title,[@topic, @post] %>
            <p><%= @post.id %></p>
            <p><%= @post.summary.id %></p>

          </h4>
          <p><%= @summary.abstract %></p>
        </div>
      </div>
  </div>
</div>