<h1>All Advertisments</h1>
<% @advertisements.each do |advertisement| %>
   <div class="media">
     <div class="media-body">
      <%= advertisement.title %>
      <%= advertisement.copy %>
      <%= advertisement.price %>
     </div>
   </div>
<% end %>