<h1>About Bloccit</h1>
<p>Created by: Me</p>
<div>
    <ul class="social-btn">
      <li><%= link_to "Facebook", "https://www.facebook.com/jonathan.daves",  class: "social-btn" %></li>
    </ul>
</div>